@using YourSneaker.WebApp.MVC.Extensions
@model IEnumerable<YourSneaker.WebApp.MVC.Models.ProdutoViewModel>

@{
    ViewData["Title"] = "Todos os produtos";
}

<section>
    <div>
        <div>
            <div>
                <img src="~/images/banners/bannerProdutos.jpg" style="width: 100%; height: auto;" />
            </div>
        </div>
        <div class="container" style=" padding-top: 20px">
            <div class="row">
                @{
                    foreach (var produto in Model.OrderBy(p=>p.Nome))
                    {
                        <div class="col-md-3">
                            <div href="#" class="card card-product-grid">
                                <a asp-controller="Catalogo" asp-action="ProdutoDetalhe" asp-route-id="@produto.Id" class="img-wrap">
                                    <img src="~/images/produtos/@produto.Imagem" alt="@produto.Nome">
                                </a>
                                <figcaption class="info-wrap">
                                    <a style="text-decoration: none;" asp-controller="Catalogo" asp-action="ProdutoDetalhe" asp-route-id="@produto.Id" class="card-title">
                                        <b> @produto.Nome</b>
                                    </a>
                                    <br/>
                                    <small class="card-text">
                                        @this.StockMessage(produto.QuantidadeEstoque)<br/><br/>
                                        @produto.Descricao
                                    </small>
                                </figcaption>
                                <div class="plan-price-value">
                                    <h3>@this.MoneyFormat(produto.Valor)</h3>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>